.CarModalBackdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(18, 20, 23, 0.5);
}

.CarModalContainer {
  width: 541px;
  height: 752px;
  padding: 15px 37px 40px 45px;
  border-radius: 24px;
  background: #fff;
}

.CarModalCloseButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.CarModalCloseButton {
  border: none;
  outline: none;
  padding: 0;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  background: none;
}

.CarModalCloseButton:hover {
  background: #0b44cd;
}

.CarModalCloseButtonIcon {
  display: block;
}

.CarModalImage {
  display: block;
  height: 314px;
  border-radius: 12px;
}

.CarModalHeader {
  color: #121417;
  font-size: 18px;
  line-height: 24px;
}

.CarModalItems {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 4px;
}

.CarModalItem {
  color: rgba(18, 20, 23, 0.5);
  font-size: 12px;
  line-height: 18px;
}

.CarModalItemValue {
  color: #3470ff;
}

.CarModalDescription {
  color: #121417;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.CarModalSubHeader {
  color: #121417;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.CarModalRentalItem {
  display: flex;
  padding: 7px 14px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 35px;
  background: #f9f9f9;

  color: #363535;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px; /* 150% */
  letter-spacing: -0.24px;
}

.CarModalSubmitButton {
  display: inline-flex;
  padding: 12px 50px;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 12px;
  background: #3470ff;

  color: #fff;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}

.CarModalSubmitButton:hover {
  background: #0b44cd;
}
