.CarModalBackdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(18, 20, 23, 0.5);
}

.CarModalContainer {
  width: 541px;
  height: 752px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #fff;
}

.CloseButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.CloseButton {
  background: none;
  border: none;
  margin: none;
  padding: none;
}

.CarModalHeader {
  color: #121417;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
}

.CarModalHeaderMake {
  color: #3470ff;
}

.CarModalCharacteristicsModal {
  display: flex;
  flex-wrap: wrap;
}

.CarModalCharacteristics {
  color: rgba(18, 20, 23, 0.5);
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
}

.CarModalDescription {
  color: #121417;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.AccessoriesAndFunctionalities {
  color: #121417;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}
