.CarModalBackdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(18, 20, 23, 0.5);
}

.CarModalContainer {
  width: 541px;
  height: 752px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #fff;
}

.CarModalCloseButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.CarModalCloseButton {
  background: none;
  border: none;
  margin: none;
  padding: none;
}

.CarModalHeader {
  color: #121417;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
}

.CarModalItems {
  display: flex;
  flex-wrap: wrap;
}

.CarModalItem {
  color: rgba(18, 20, 23, 0.5);
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
}

.CarModalDescription {
  color: #121417;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.CarModalSubHeader {
  color: #121417;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.CarModalRentalItem {
  display: flex;
  padding: 7px 14px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  color: #363535;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  letter-spacing: -0.24px;
}

.CarModalItemValue {
  color: #3470ff;
}

.CarModalSubmitButton {
  display: inline-flex;
  padding: 12px 50px;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 12px;
  background: #3470ff;

  color: #fff;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}
