.RangeStator {
  width: "100px";
  height: "500px";
  background-color: cyan;
  position: relative;
}

.RangeRotor {
  width: "100px";
  height: "250px";
  background-color: "blue";
  position: "absolute";
  top: "20px";
  left: "20px";
}
